@import url('reset.css');
@font-face
{
    font-family: 'BElham';
    src: url('fonts/BElham.eot?#') format('eot'), /* IE6–8 */ url('fonts/BElham.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('fonts/BElham.ttf') format('truetype'); /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
@font-face {
  font-family: 'BTitrBold';
  src: url('fonts/BTitrBold.eot?#') format('eot'),  /* IE6–8 */
       url('fonts/BTitrBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('fonts/BTitrBold.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
body
{
    font-family: Tahoma;
    font-size: 13px;
    direction: rtl;
    line-height: 20px;
    margin: 0;
     background-color:#fff;
}
a
{
    text-decoration:none;
}
div#contentDiv
{
    background: #fff url('../images/bodybg.jpg') repeat-x top left; 
 
 /*  background-color:#E5E5E0;*/
}
div#topDiv
{
    width: 100%;
    margin: 0;
 height:110px;
     background: #ffc931 url('../images/header-bg.jpg') repeat top left; 
 
    color: #fff;
    text-align: center;
font-family: BTitrBold;
    font-size: 26px;
   
}
div#top
{
    width:1000px;
    margin:0 auto;
    
}
div#rightTopDiv
{
    float:right;
 height:110px;
}
div#ToptitleDiv
{
    float:right;margin-right: 280px;
    padding-top: 40px;
}
div#leftTopDiv
{
    float:left;
 height:110px;
 
}
.titleDiv
{
     min-height:50px;
     /*background-color: #EBEADB;*/
     border-bottom:1px solid #553907;
     padding-bottom:15px;
     border-radius: 0 0 5px 5px;
     -moz-border-radius: 0px 0px 5px 5px;
     -webkit-border-radius: 0px 0px 5px 5px;
 
}
.titleRightDiv
{  
     float:right;
}
.clear
{
    clear:both;
}
.titleNameDiv
{
    float:left;
    direction:ltr;
    padding-left:10px;
    
}
.ContentDiv
{
     /*    background-color: #EBEADB;*/
                border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    min-height:400px;
    padding:10px 0 20px 0;
}
div#mainDiv
{
    background: #DFE3E4 url('images/bg2.jpg') repeat-x top left;
    width: 100%;
    padding-top: 5px;
}
div#outerDiv
{
    width: 100%;
    width: 1000px;
 /*  background-color:#717eb6;*/
  background-color:#fff;
    margin: 0 auto;
   border:1px solid #553907;
    height: auto;
  
   /*   border-top:3px solid #d6deff;*/
}
.minheight
{
    line-height: 26px;
    min-height: 600px;
}
.minheight a
{
    color: #000;
}

/****Forms****/
.fieldGroup
{
    margin: 00px 20px 0 0;
    padding: 0;
    color: #333333;
    padding-top:20px;
 
}
.fieldGroupforMultilineTextbox
{
    min-height: 100px;
    margin: 20px 20px 0 0;
    padding: 0;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
}
.left
{
    float: right;
    padding-right: 4px;
}
.right
{
    float: right;
    text-align: left;
    width:100px;
    font-size: 13px;
    font-weight: bold;
}
.right2
{
    float: right;
    text-align: left;
    width:151px;
    font-size: 13px;
    font-weight: bold;
}
.right3
{
    float: right;
    text-align: left;
    width:210px;
    font-size: 13px;
    font-weight: bold;
}
div#butonDiv
{
    margin-right: 20px;
    margin-top:50px;
}

/****END Forms****/
.txtStyle
{
    border:none;
    border:1px solid #000000;
}
.txtSize
{
    resize:none;
}
.btnSearch
{
    background-color:#00199e;
        border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border:none;
    
}
/****Menu****/
.menuBox
{
    float:right;
    margin-right:50px;
    width:145px;
    height:145px;
    margin-top:50px;
    border:1px solid #5b8fba; 
     border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
   

}
.menuBox:hover
{
     background-color:#acc0d0;
}
.menuBoxImg
{
    width:70px;
    height:70px;
    margin:0 auto;
}
.menuText
{
    text-align:center;
}
.menuText a
{
    text-decoration:none;
      color: #333333;
      font-weight:bold;
}
.menuText a:hover
{
    text-decoration:underline;
       
      font-weight:bold;
}
/****END Menu****/

div#SearchDiv
{
    display:none;
}

div#footerDiv
{
    margin-top:30px;
    background: #fff url('../images/footer.jpg') no-repeat top left;
   color:#fff;
}

div#footerDiv a
{
    
   color:#fff;
}