<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <httpRuntime executionTimeout="240" maxRequestLength="20480" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.jpg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.jpeg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.png.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.gif.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.bmp.ashx" type="Xpertz.Base.Handler.Images"></add>
    </httpHandlers>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Default.aspx" name="Risk" timeout="43200" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="eShop.Classes.eShopRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <urlMappings enabled="true">
      <add url="~/default.html" mappedUrl="~/Varzesh3.aspx" />
    </urlMappings>
  </system.web>
  <connectionStrings>
    <add name="RiskManagementEntities" connectionString="metadata=res://*/Model.RiskModel.csdl|res://*/Model.RiskModel.ssdl|res://*/Model.RiskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=RiskManagement;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" name="*.jpg.ashx" path="*.jpg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.jpeg.ashx" path="*.jpeg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.png.ashx" path="*.png.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.gif.ashx" path="*.gif.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.bmp.ashx" path="*.bmp.ashx" type="Xpertz.Base.Handler.Images"></add>
    </handlers>
  </system.webServer>
</configuration>