<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
		<section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
	</configSections>
  <system.web>
    <httpRuntime executionTimeout="240" maxRequestLength="20480" />
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.jpg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.jpeg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.png.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.gif.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" path="*.bmp.ashx" type="Xpertz.Base.Handler.Images"></add>
    <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" /></httpHandlers>
    <authentication mode="Forms">
      <forms defaultUrl="~/Default.aspx" loginUrl="~/Default.aspx" name="Risk" timeout="43200" slidingExpiration="true" />
    </authentication>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear />
        <add name="MyRoleProvider" type="eShop.Classes.eShopRoleProvider" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
  <urlMappings enabled="true">
      <add url="~/default.html" mappedUrl="~/Varzesh3.aspx" />
     
    </urlMappings>
  <sessionState mode="InProc" cookieless="AutoDetect" timeout="20" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" /><pages enableSessionState="true">
			<controls>
				<add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
			</controls>
		</pages></system.web>
  <connectionStrings>
    <add name="RiskManagementEntities" connectionString="metadata=res://*/Model.RiskModel.csdl|res://*/Model.RiskModel.ssdl|res://*/Model.RiskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-044MSAN\LOCAL;Initial Catalog=RiskManagement;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".xlsx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </staticContent>-->
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add verb="*" name="*.jpg.ashx" path="*.jpg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.jpeg.ashx" path="*.jpeg.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.png.ashx" path="*.png.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.gif.ashx" path="*.gif.ashx" type="Xpertz.Base.Handler.Images"></add>
      <add verb="*" name="*.bmp.ashx" path="*.bmp.ashx" type="Xpertz.Base.Handler.Images"></add>
    <remove name="BotDetectCaptchaHandler" /><add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
  <!--<add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />-->
  </handlers>
  </system.webServer>
<botDetect helpLinkEnabled="true" helpLinkMode="image" /></configuration>